html, body {
    margin: 0;
    padding: 0;
    cursor:none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

html{ 
    height:100%;
}

body{ 
    overflow:auto;
    overflow-x: hidden;
    height:100%;
}

@font-face {font-family: 'Brown-Bold'; src: url("Brown-Bold.otf"); src: url("Brown-Bold.otf") format("opentype"), url("Brown-Bold.woff2") format("woff2"), url("Brown-Bold.woff") format("woff"), url("Brown-Bold.ttf") format("truetype"); }
@font-face {font-family: 'Brown-Light'; src: url("Brown-Light.otf"); src: url("Brown-Light.otf") format("opentype"), url("Brown-Light.woff2") format("woff2"), url("Brown-Light.woff") format("woff"), url("Brown-Light.ttf") format("truetype"); }
@font-face {font-family: 'Brown-Regular'; src: url("Brown-Regular.otf"); src: url("Brown-Regular.otf") format("opentype"), url("Brown-Regular.woff2") format("woff2"), url("Brown-Regular.woff") format("woff"), url("Brown-Regular.ttf") format("truetype"); }

body {
  min-height: 100%;
  font-family: 'Brown-Bold';
  color: #073DA5;
  background: #f1f0f2;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.translator-splash {
  transform: translateY(100%);
}

.splash img {
    width: 38vw;
}


.social-container {
    display:flex;
    flex-direction: row;
    margin-bottom: 120px;
}

.hover-this {
    transition: all 0.3s ease;
}

.cursor {
    pointer-events: none !important;
    position: fixed;
    padding: 0.3rem;
    background-color: #073DA5;
    border-radius: 50%;
    z-index:9999;
    transition: transform 0.3s ease;
    transform: translate(-50%, -50%)
}

.hover-this:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(8);
}

.logo {
    width:180px;
    padding:50px;
    position: fixed;
    display: table;
    pointer-events: auto;
    z-index: 10;
    top: 0px;
}

.about-logo {
    width:180px;
    margin:50px;
    position: fixed;
    display: table;
    pointer-events: auto;
    z-index: 10;
    top: 0px;
}




.your-personal {
    font-family: 'Brown-Bold';
    margin-top:60px;
    position: fixed;
    pointer-events: auto;
    z-index: 10;
    top: 0px;
    right: 0px;
    overflow:hidden;
    width:12vw;
    white-space: nowrap;
}


@keyframes sliding-text-right {
    from {transform:translateX(-0%)}
    to {transform:translateX(-177%)}
}

@media only screen and (max-width: 800px) {
    @keyframes sliding-text-right {
        from {transform:translateX(-0%)}
        to {transform:translateX(-231%)}
    }
}

.your-personal span  {
    animation-name: sliding-text-right;
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: block;
}


.splash{
    width:100vw;
    height:100vh;
    z-index:99999;
    background-color: #073DA5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
} 






.left-back-button {
    padding:50px;
    position: fixed;
    display: table;
    pointer-events: auto;
    z-index: 10;
    top: 0px;
    float: left;
}


.facebook-instagram {
    font-family: 'Brown-Bold';
    padding-left:50px;
    position: fixed;
    display: table;
    pointer-events: auto;
    z-index: 10;
    bottom: 0px;
    left: 0px;
    padding-bottom: 40px;
}



.mail {
    font-family: 'Brown-Bold';
    padding-right:50px;
    position: fixed;
    display: table;
    pointer-events: auto;
    z-index: 10;
    bottom: 0px;
    right: 0px;
    padding-bottom: 40px;
}



.main-description-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 90vh;
    justify-content: center;
}

.main-description {
    justify-content: center;
    font-size: 20px;
    font-family: 'Brown-Regular';
    line-height: 1.4em;
    text-align: left;
}   

.main-description .big {
    font-size: 4em;
    font-family: 'Brown-Light';
    line-height: 1em;
}   

.fullscreen {
  height: 100vh;
  background-color: #f1f0f2;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.background-blue {
    background-color: #073DA5!important;
}

.column {
    height:100vh;
    display: flex;
    flex-direction: column;
}

.container{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.middle {
  width: 100%;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
}

.background-header {
    width: 90%;
    z-index: 2;
}

.caption {
    width: 30vw;
}

.video-background {
    width: 100vw;
    height: 100vh;
    background-image: url("../src/full-screen-video.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display:flex;
    align-items: center;
    justify-content: center;
}

.button-play {
    font-family: 'Brown-Light';
    text-decoration: none;
    color:#073DA5;
    text-align: center;
    font-size:50px;
    z-index: 50;
}

.item {
    padding:1em;
    display:flex;
    background:orange;
}
  
.home-description {
    width: 22vw;
    position: absolute;
    left: 50px;
    top: 39vh;
    font-size: 16px;
    line-height: 1.2em;
    color: #073DA5;
    text-transform: uppercase;
    z-index:10;
}



.top {
    width: 100%;
    text-align: center;
    display: flex;
}

.button-video {
    margin-top:64vh;
    width: 40%;
    color:#073DA5;
    padding-bottom:40px;
    text-align: center;
    font-size:50px;
    z-index: 50;
}




.button-video a{
    color:#073DA5;
    font-family: 'Brown-Light';
}

.button-video:hover a{
    color: #000000;
}



.button-video:hover a::after{
    background-color: #000000;
}



.bottom {
    bottom:30px;
    width: 100%;
    position: fixed;
    text-align: center;
}

.middle {
  flex: 1;
  display: flex;
  align-self:center;
  align-items:center;
  margin: 10px 0;
}


.logo-mobile {
    z-index: 45;
    width: 70%;
    flex: 2;
}

.centered {
    position: absolute;                                 
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
}

.rotating-img {
    padding: 0px;
    margin: 0px;
    animation-name: rotatingLogo;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 5;
}
  
@keyframes rotatingLogo {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

span{
    font-family: 'Brown-Bold';
}

.sliding-span {
    position: relative;
    display: inline-block;
    overflow: hidden;
}


.sliding-p {
    transform: translate(0px,100px);
    animation-name: slidingDescr;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    margin:5px;
}

.sliding-p-2 {
    transform: translate(0px,100px);
    animation-name: slidingDescr;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    margin:5px;
}
  
@keyframes slidingDescr {
    from {transform: translate(0px,100px);}
    to {transform: translate(0px,0px);}
}

a {
    color: #073DA5;
    text-decoration: none;
    
    display: inline-block;
    padding: 3px;
    position: relative;
}
.mobile-sfondo {
    display: none;
}   

a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background:#073DA5;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after { 
    width: 100%; 
    left: 0; 
}

.black-text {
    color:#000000
}

.hide {
    display:none;
}

.social-link {
    margin-left:20px
}

.social-link2 {
    margin-left:20px
}

@media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
}
  


@media only screen and (max-width: 900px) {
    .column {
        height:60vh;
    }
    .home-description {
        display: none;
    }   
}


@media only screen and (max-width: 800px) {
    .logo-mobile {
        z-index: 999;
        width: 60%;
        flex: 2;
    }

    .background-header {
        width: 90%;
        z-index: 2;
    }

    .main-description .big {
        font-size: 40px;
        font-family: 'Brown-Light';
        line-height: 1em;
    } 
    
    .main-description-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .main-description {
        justify-content: center;
        font-size: 17px;
        font-family: 'Brown-Regular';
        line-height: 1.4em;
        text-align: left;
        word-break: break-word;
        margin-top:-20px;
    }   

    .web_video{
        display: none;
    }   


    .mobile-sfondo {
        display: inline;
        width:100%;

    }

    .centered {
        top:46%
    }  

    .social-link {
        margin-left:4px

    }

    .social-link2 {
        margin-left:0px

    }

    .logo-rotante{
        width: 80%;

    }

    .fullscreen {
        height: 80vh;
        background-color: #f1f0f2;;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .top {
        padding-top:20px;
        flex-direction: row;
        position: fixed;
    }

    .button-video {
        margin-top:58vh;
        width: 100%;
        color:#073DA5;
        padding-bottom:40px;
        text-align: center;
        font-size:50px;
        z-index: 50;
    }

    .logo {
        width:130px;
        padding-top:10px;
        position: relative;
        pointer-events: auto;
        z-index: 10;
        top: 0px;
        padding-left:20px; 
        padding-bottom:0px;
    }


    .white-logo{
        display: none;
    }
    
    .facebook-instagram{
        padding-left:20px;
        padding-bottom:30px;
    }

    .mail { 
        padding-right:20px;
        padding-bottom:30px;
    }

    .social-container {
        flex-direction: column;
        
    }
    
    .social-container a {
        font-size: 20px;
        
    }

    .social-link {
        margin-left:0px
    }

    a:hover:after {
        width: 0%;
        left: 0;
    }

    .your-personal {
        font-family: 'Brown-Bold';
        margin-top:30px;
        margin-right:0px;
        width:30vw;
    }
    

    .cursor {
        display: none;
    } 

    .splash img {
        width: 60vw;
    }

    .rotating-img {
        overflow-x: hidden;
        max-width: 100vw;
    }

    .bottom {
        bottom:200px;
        width: 100%;
        position: fixed;
        text-align: left;
        padding-left:30px;
    }

    .sliding-p {
        font-size:30px;
    }

    .sliding-p-2 {
        font-size:15px;
    }

}